<h1>Welcome to a POKEMON query service!</h1>

<p>
    Search your pokemon database here:
    <form action="/results" method="get">
        <p>
            <label for="query">Search By Amount
                <input type="text" name="limit" id="query">
            </label>
        </p>
        <p>
            <label for="query">Search By Forms Available
                <input type="text" name="forms" id="query">
            </label>
        </p>
        <p>    
            <label for="query">Search By Species
                <input type="text" name="species" id="query">
            </label>
        </p>

        <input type="submit" value="search">
    </form>
</p>